.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 15.43px;
}
.bg-color{
  background-color: $bg-color;
}
@media(max-width:767px){
  .header{
    flex-direction: column;
    padding: 0;
  }
  .header h1{
    align-self: flex-start;
    padding: 16px 0 15.43px 0;
  }
}
.logo{
  width: 80px;
  height: 48.5px;
}
@media(max-width:767px){
  .logo{
    display: flex;
  }
}
.menu{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media(max-width:767px){
  .menu{
    width: 100%;
    border-right: 1px solid #fff;
  
  }
}
.menu li{
  margin-right: 64px;
}
@media(max-width:767px){
  .menu li{
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
  }
}
.menu li:last-child{
  margin-right: 0;
}
.menu li a{
  font-size: 1.25rem;
  color: #fff;
  display: block;
}
@media(max-width:767px){
  .menu li a{
    font-size: 1rem;
    background-color: #20e28e0e;
    padding: 12px 0;
    text-align: center;
  }
}