.faq-content{
  h2{
    font-size: 3rem;
    @include mobile(){
      font-size: 1.5rem;
    }
  }
  h3{
    font-size: 1.5rem;
  }
}
.faq-list{
  h4{
    font-size: 1.25rem;
    @include mobile(){
      font-size: 1.5rem;
    }
  }
}