/* 專業介紹區塊 */
.bg-color2 {
  background-color: $bg-color2;
}
.professional h2 {
  font-size: 3rem;
  color: $title-color;
  @include mobile(){
    font-size: 1.5rem;
  }
}
.professional-list {
  margin-right: -12px;
  margin-left: -12px;
  li{
    width: 25%;
    padding-right: 12px;
    padding-left: 12px;
    @include pad(){
      width: 50%;
    }
    @include mobile(){
      width: 100%;
    }
  }
  h3 {
    font-size: 1.5rem;
    color: $title-color;
  }
  p {
   text-align: left;
  }
}
/* 經典系列區塊 */
.classic {
  font-size: 3rem;
  color: $title-color;
  @include mobile(){
    font-size: 1.5rem;
  }
}
.classic-list {
  margin-right: -12px;
  margin-left: -12px;
}
.classic-list li {
  width: 33.33%;
  padding-right: 12px;
  padding-left: 12px;
  @include pad(){
    width: 100%;
  }
  img {
    height: 416px;
  }
}

