.bg-color4{
  background-color: $bg-color4;
}
.top-menu-outer{
  align-items: center;
}
.search{
  font-size: 29.15px;
  height: 29.15px;
  color: $text-color;
  @include mobile(){
    display: none;
  }
}
.top-menu{
  width: 50%;
  justify-content: space-between;
  margin-right: auto;
  li{
    @include mobile(){
      margin-right: 25px;
    }
    &:last-child{
      @include mobile(){
        margin-right: 0;
      }
    }
  }
  @include pad(){
    width: 75%;
  }
  @include mobile(){
    width: 100%;
    margin-right: 0;
  }
  a{
    color: $text-color;
    font-size: 1.25rem;
    padding-top: 13px;
    padding-bottom: 13px;
    @include mobile(){
      font-size: 1rem;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}
.breadcrumbs{
  a{
    color: $text-color3;
    &::after{
      content: "/";
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  & li:last-child {
    a{
      color: $text-color2;
    }
  }
  .active-path::after{
    content: "";
    color: $text-color3;
    padding-right: 0;
    padding-left: 0;
  }
}
.special-content-text{
  width:66.7%;
  @include pad(){
    width: 75%;
  }
  @include mobile(){
    width: 100%;
  }
  h2{
    font-size: 3rem;
    @include mobile(){
      font-size: 1.5rem;
    }
  }
  h3{
    font-size: 1.5rem;
    font-family: 'Roboto';
    @include mobile(){
      font-size: 1rem;
      font-weight: 500;
    }
  }
}
.hashtag{
  color: $text-color2;
  font-size: 1.5rem;
  font-family: 'Roboto';
  @include mobile(){
    font-size: 1rem;
  }
}
.hashtags{
  color: $text-color2;
  @include pad(){
    width: 25%;
  }
  @include mobile(){
    display: none;
  }
}
.hashtags-icon{
  font-size: 2rem;
  align-items: center;
  @include pad(){
    font-size: 1rem;
  }
  .icon{
    font-size: 3rem;
    margin-right: 12px;
    @include pad(){
      font-size: 1.5rem;
      margin-right: 0;
    }
  }
}
.hashtags-text{
  font-size: 1.5rem;
  margin-bottom: 4px;
  @include pad(){
    font-size: 1rem;
  }
}

.share{
  width: 66.7%;
  border-bottom: 1px solid $text-color3;
  @include pad(){
    width: 100%;
  }
  a{
    display: inline;
  }
  img{
    width: 24px;
    height: 24px;
  }
}
.bottom{
  @include mobile(){
    display: none;
  }
}
.content-page{
  width: 66.7%;
  a{
    color: $text-color3;
  }
  @include pad(){
    width: 100%;
  }
}