<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>系列鏡框</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <ul class="category d-flex container pl-sm-0 pr-sm-0">
      <li class="tab"><a class="text-center pt-3 pb-3 pt-md-2 pb-md-2" href="#">OPTICAL</a></li>
      <li class="tab"><a class="text-center pt-3 pb-3 pt-md-2 pb-md-2" href="#">SUNGLASSES</a></li>
      <li class="tab"><a class="text-center pt-3 pb-3 pt-md-2 pb-md-2" href="#">FUNCTIONAL</a></li>
    </ul>
      <div class="content">
        <div class="product-0">
          <ul class="small-banner d-flex">
            <li class="small-banner-left"></li>
            <li class="small-banner-right"></li>
          </ul>
          <div class="product-content text-center container pt-10 pb-10 pt-sm-5 pb-sm-8">
            <h2 class="ch-title">Celluloid Combi</h2>
            <h3 class="en-title mb-4">賽璐珞鈦金屬混合鏡框</h3>
            <ul class="product-list d-flex flex-wrap mb-10 mb-sm-8">
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-1.png" alt="product-1">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-1.png" alt="product-1">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-1.png" alt="product-1">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-1.png" alt="product-1">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-1.png" alt="product-1">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-1.png" alt="product-1">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-1.png" alt="product-1">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-1.png" alt="product-1">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-1.png" alt="product-1">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-1.png" alt="product-1">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-1.png" alt="product-1">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-1.png" alt="product-1">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-1.png" alt="product-1">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-1.png" alt="product-1">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-0 mb-sm-3">
                <img src="../assets/images/product-1.png" alt="product-1">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-0 mb-sm-0">
                <img src="../assets/images/product-1.png" alt="product-1">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
            </ul>
            <div class="pagination d-flex">
              <ul class="page d-flex align-items-center">
                <li class="pre"><a href="#">上一頁</a></li>
                <li><a href="#">1</a></li>
                <li><a class="active-color h-100" href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li class="next"><a href="#">下一頁</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="product-1">
          <ul class="small-banner d-flex">
            <li class="small2-banner-left"></li>
            <li class="small2-banner-right"></li>
          </ul>
          <div class="product-content text-center container pt-10 pb-10 pt-sm-5 pb-sm-8">
            <h2 class="ch-title">2020 NEW COLLECTION</h2>
            <h3 class="en-title mb-4">賽璐珞鈦金屬混合鏡框</h3>
            <ul class="product-list product-list2 d-flex flex-wrap mb-10 mb-sm-8">
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-7.png" alt="product-7">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-8.png" alt="product-8">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-9.png" alt="product-9">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-10.png" alt="product-10">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-11.png" alt="product-11">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
              <li class="mb-10 mb-md-5 mb-sm-3">
                <img src="../assets/images/product-12.png" alt="product-12">
                <h3 class="product-info d-flex justify-content-between">
                  <span class="product-name">BJ41600S</span>
                  <span class="product-price">NTD3,490</span>
                </h3>
                <p class="product-style d-flex">
                  <span class="style-color1 d-block mr-1"></span>
                  <span class="style-color2 d-block"></span>
                </p>
              </li>
            </ul>
            <div class="pagination d-flex">
              <ul class="page d-flex">
                <li class="pre"><a href="#">上一頁</a></li>
                <li><a href="#">1</a></li>
                <li><a class="active-color h-100" href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li class="next"><a href="#">下一頁</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.slim.js" integrity="sha256-7GO+jepT9gJe9LB4XFf8snVOjX3iYNb0FHYr5LI1N5c=" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function(){
        $('.tab').first().addClass('active');
        $('.content').first().addClass('active');
        $('.tab').on('click', function() {
        $('.tab').removeClass('active');
        $(this).addClass('active');
        // 獲取要顯示的內容索引
        const tabIndex = $(this).index();
        $('.content').removeClass('active');
        $('.content').eq(tabIndex).addClass('active');
        })
    });
    </script>
  </body>
</html>
