<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>情人特別企劃</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
  <%- include('./layout/header'); -%>
  <div class="bg-color4">
    <div class="container">
      <div class="top-menu-outer d-flex ">
        <ul class="top-menu d-flex">
          <li class="mr-6"><a href="#">最新消息</a></li>
          <li class="mr-6"><a href="#">特別企劃</a></li>
          <li class="mr-6"><a href="#">新品上市</a></li>
          <li><a href="#">鏡框小知識</a></li>
        </ul>
        <span class="search material-symbols-outlined">
          search
          </span>
      </div>
    </div>
  </div>
  <div class="special-content container pt-3 pt-sm-2 pb-0 pb-sm-8">
    <ul class="breadcrumbs d-flex mb-1"> 
      <li><a href="#">首頁</a></li>
      <li><a href="#">部落格</a></li>
      <li><a href="#">特別企劃</a></li>
      <li><a class="active-path" href="#">情人特別企劃</a></li>
    </ul>
    <div class="hashtag mb-1 font-bold">
      <span class="mr-2">#special</span>
      <span>#event</span>
    </div>
    <div class="d-flex">
      <ul class="special-content-text mr-3 mr-sm-0">
        <li>
          <h2>情人特別企劃</h2>
          <h3 class="mb-2">2020 Valentine’s Special</h3>
          <img class="mb-1 mb-md-2 mb-sm-1" src="../assets/images/blogpage-1.png" alt="blogpage-1">
          <p class="mb-5 mb-sm-2">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
          <img class="mb-1 mb-md-2  mb-sm-1" src="../assets/images/blogpage-2.png" alt="/blogpage-2">
          <p class="mb-5  mb-sm-2">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
          <img class="mb-1 mb-md-2" src="../assets/images/blogpage-3.png" alt="blogpage-3">
          <p class="mb-3  mb-sm-2">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
          <img class="mb-1 mb-md-2 mb-sm-1" src="../assets/images/blogpage-4.png" alt="blogpage-4">
          <p class="mb-5 mb-sm-0">2/14(五)-2/20(日)<br>
            至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個<br> 
            期間優惠還有~~持他牌鏡框更換鏡片<br> 
            薄型非球面鏡片折300元<br> 
            濾藍光鏡片折500元 快快帶上另一半<br> 
            讓彼此每一次睜開眼，都被愛的視線包圍!</p>
        </li>
      </ul>
      <div class="hashtags">
        <div class="d-flex hashtags-icon">
          <span class="icon material-symbols-outlined">label</span>
          <span>TAGS</span>
        </div>
        <div class="d-flex hashtags-text">
          <span class="mr-3">#special</span>
          <span>#sale</span>
        </div>
        <div class="d-flex hashtags-text">
          <span class="mr-3">#new_item</span>
          <span>#interview</span>
        </div>
        <div class="d-flex hashtags-text">
          <span class="mr-3">#trivia</span>
          <span>#news</span>
        </div>
        <span class="hashtags-text">#event</span>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <div class="share pb-2">
        <span class="mr-2">Share</span>
        <a class="mr-2" href="#"><img src="../assets/images/logo-facebook.png" alt="fb-icon"></a>
        <a href="#"><img src="../assets/images/logo-instagram.png" alt="ig-icon"></a>
      </div>
    </div>
    <div class="container pb-10 pt-3">
      <ul class="content-page d-flex justify-content-between">
        <li>
          <a class="d-flex" href="#">
            <span class="material-symbols-outlined mr-1">
            arrow_back
            </span>
            <span>上一篇：街頭潮人訪問 1</span>
          </a>
        </li>
        <li>
          <a class="d-flex" href="#">
            <span class="mr-1">下一篇：街頭潮人訪問 2</span>
            <span class="material-symbols-outlined">
              arrow_forward
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>